body
{
	background-image: url("http://image.noelshack.com/fichiers/2011/10/1299797472-sans_titre14_2.jpg");
}

.contenutop{

}
h1 { float:left;
	margin-left:80px;
	font-family:New Century Schoolbook;
	color:red;
	border-color: black;
	text-shadow: 4px 4px 6px #232121;
	text-align:center;
	font-size:45px;

}
.position {
    box-shadow: 4px 4px 6px #232121;
    width:410px; 
    height:260px;


}
.superman{

}

.block900 {
	width :900px;
	margin:auto;
}
.textecentre{

}

.b1px {
	text-align: center;
}

.position3 {
	clear:both;	width:130px;
	height:100px;
	position:relative;
	right:-65px;


}
.position2{
	width:130px;
	height:100px;
	float:left;

}
#contourcentre{
	width: 410px;
	margin:auto;
}
.divgauche{
	clear:both;
	float:left;
	width:200px;
	color: blue;


}
.divdroite{

	width:200px;
	float:right;
	position:relative;
	top:-446px;
	color: blue;
}
.corps {
	float:left;
	width:900px;

}
.textecentre{
	width:900px;
	color: blue;
	text-align: center;
}
.titre1, .titre2, .titre3, .titre4{
text-decoration: underline;
}

.CK{
	float: right;
	margin-top: 620px;

}